<mat-tab-group mat-align-tabs="center">
  <mat-tab label="First">Content 1</mat-tab>
  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>



<mat-grid-list cols="4" rowHeight="1:2">
  <mat-grid-tile *ngFor="let film of films">
    <mat-card class="example-card" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{film.name}}</mat-card-title>
        <mat-card-subtitle>{{film.classification}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{film.posterFilm}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions class="example-button-row">
        <!-- <a mat-stroked-button color="primary">LIKE</a> -->
       <button mat-raised-button color="primary">Detais</button> 
      </mat-card-actions>
    </mat-card> 
  </mat-grid-tile>    
</mat-grid-list>