<mat-card>
   <form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" value="Name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>    
        <button mat-raised-button color="primary">Send</button>   
   </form> 
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
        
    </mat-card-header>       
    <mat-card-content>
        <h3>Jacobo</h3>
        <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Comment</button>         
    </mat-card-actions>
</mat-card>
      
